<!DOCTYPE html>
<html>
  <head>
    <title>RSI Pune</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css'>
  <link rel="stylesheet" href="./css/qrcode.css">
  </head>
  

  <script src="./qrcode.min.js"></script>
   
  <body style="background-color:black;background-image:url('./bg2.jpg');">
   {{#if_eq rsiid 'S-2119'}}
    <button class="btn" id="deletebutton" style="margin-top:10px;margin-left:2%;width:140px;height:40px;font-weight:bolder;background-color: aliceblue;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" onclick="window.location.href='/deleteTicket'" type="button">DELETE TICKET</button>
   {{/if_eq}} 
  <button class="btn" id="homebutton" style="margin-top:10px;margin-left:1%;width:80px;height:40px;font-weight:bolder;background-color: aliceblue;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" onclick="window.location.href='/home'" type="button">HOME</button>
  {{#if_eq rsiid 'S-2119'}}
    <button class="btn" id="summarybutton" style="margin-top:10px;margin-left:1%;width:115px;height:40px;font-weight:bolder;background-color: aliceblue;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" onclick="window.location.href='/downloadSummary'" type="button">SUMMARY</button>
   {{/if_eq}} 
    <div class="align">
    <div class="row">
    {{#each ticketDetails}}
    <div class="container">
      <div class="card">   
               <div class="card-header" >
                <div class="qrcode" >
                  <canvas class="canvas" id="{{@index}}"></canvas>
                </div>
                 
               </div>
               <div class="card-body" >
                  
                  
                    <ul class="list">
                      <li class="movname">{{movieNmae}}</li>
                      <li>Date: {{date}}</li>
                      <li>Time: {{movietime}}</li>
                      <li>Seats: {{seatsMap}}</li>
                      <li>RSAMI Id: {{userID}}</li>
                      <li>Price: ₹{{cost}}</li>
                      </ul>
                  
               </div>
      </div>
      </div>
    {{/each}}
    </div>
    </div>
  </body>

  <script>
    let jsObj;
    let qrData;
    {{#each ticketDetails}}
    jsObj = {
        Movietime: "{{movietime}}",
        cost: {{cost}},
        date: "{{date}}",
        movieNmae: "{{movieNmae}}",
        provisional: true,
        seatsList: [{{seatsList}}],
        timestamp: "{{timestamp}}",
        userID: "{{userID}}"
      };
    qrData = JSON.stringify(jsObj);
      QRCode.toCanvas(document.getElementById('{{@index}}'), qrData, function (error) {
        if (error) console.error(error)
        console.log('success!');
      })
    {{/each}}
    </script>  
</html>